<div class="full-width padding-10px border-box">
    <h4 class="flex center-center no-margin">Sign In</h4>
    <div class="center-center flex">
      <img src="../../../assets/Screenshot 2024-06-18 191707.png" width="100px" height="100px">
    </div>
    <form [formGroup]="loginForm">
    <div class="flex gap-1em column">
        <p class="no-margin">Email</p>
        <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Ex. pat@example.com" formControlName = 'email'>
            <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="loginForm.get('email')?.hasError('email') && !loginForm.get('email')?.hasError('required')">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>
    </div>
    <div class="flex gap-1em column">
        <p class="no-margin">Enter Password</p>
        <mat-form-field class="full-width">
            <mat-label>Enter Password</mat-label>
            <input type="email" matInput placeholder="************" formControlName = 'password'>
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
            
          </mat-form-field>
    </div>
    <a href="#" class="flex end">Forgot password</a>
    </form><br>
    <div>
        <button class="full-width padding-10px border-box white border-radius-50px green-bg">Log In</button>
    </div><br>
    <div class="space-between-center flex">
      <div><img src="../../../assets/google.png" width="50px" height="50px"></div>
      <div><img src="../../../assets/facebook.png" width="50px" height="50px"></div>
      <div><img src="../../../assets/apple.png" width="50px" height="50px"></div>
    </div><br>
    <div class="center-center flex">
      <p class="no-margin">Don't have an account? <a href="register">Sign Up</a></p>
    </div>
</div>